@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Bitcount:wght@100..900&family=VT323&display=swap');
h1 {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xx-large;
}
p1 {
  font-family: 'VT323', monospace;
  font-size: large;
  border-width: 10px;
  border: 1px;
  border-style: solid;
  font-size:12px;
}
}
img {
  width: 1500px;
  height: auto;
}
P1 {
  background-color: #b2b2b2; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}
div{
  width: 1000px;
  border: 2px solid black;
  text-align: right;
  margin: 0 auto
}