
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Bitcount:wght@100..900&family=VT323&display=swap');
body {
  font-family: sans-serif;
}
h1 {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xxx-large;
}
h3{
  font-family: 'VT323', monospace;
  font-size: xx-large;
}
p1 {
  font-family: 'VT323', monospace;
  font-size: x-large;
  border-width: 10px;
  border: 1px;
  border-style: solid;
  font-size:12px;
}

img {
  width: 100%;
  height:50%;
  align-self: center;
  border: 10px transparent;

}
P1 {
  background-color: #b2b2b2; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}
P1 {
  background-color: #b2b2b2; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}

div-1{
  width: 1000px;
  border: 2px solid black;
  text-align: right;
  margin: 0 auto
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div {
  background-color: rgb(146, 146, 146);
  width: 10px;
  height: 10px;
  border-radius: 0.5px;
  margin: 0.5px;
  aspect-ratio: 1 / 1;
}
article {
  width: 100%;
  height: 100%;
  border: 2px, transparent;
  align-self: center;
  margin: 0 auto
}              
a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  padding: 250px;
  text-align: left;
}
article img {
  width: 64px;
  height: 64px;
  border: 10px, transparent;
  align-self: center;
  margin: 0 auto
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

