
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Bitcount:wght@100..900&family=VT323&display=swap');
body {
  font-family: sans-serif;
}
h1 {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xx-large;
  text-indent: 775px;
  z-index: 1;
  color: white;
  
h2{
  `font-family: 'VT323', monospace;
  font-size: large;
  text-align: left;
}
}
h3{
  font-family: 'VT323', monospace;
  font-size: x-large;
}
h5{
  font-family: 'VT323', monospace;
  font-size: small;
  text-align: Right;

}
h6{
  font-family: 'VT323', monospace;
  font-size: x-large;
  text-align: left;
}
]
p1 {
  font-family: 'VT323', monospace;
  font-size: x-large;
  border-width: 10px;
  border: 1px;
  border-style: solid;
  font-size:12px;
}

img {
  width: 100%;
  height:50%;
  align-self: center;
  border: 10px transparent;

}
P1 {
  background-color: #b2b2b2; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}
P1 {
  background-color: #b2b2b2; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}

div-1{
  width: 1000px;
  border: 2px solid black;
  text-align: right;
  margin: 0 auto
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article {
  width: 100%;
  height: 100%;
  border: 2px, transparent;
  align-self: center;
  margin: 0 auto
}              
a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  padding: 250px;
  text-align: left;
}
article img {
  width: 86px;
  height: 86px;
  border: 0px, transparent;
  align-self: center;
  margin: 0 auto
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
h4{
  font-family: 'VT323', monospace;
  font-size: large;
  text-align: left;

}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 30px;
  right: 5px;
}
.hero-box {
  position: relative;
  width: 100%;
}

.hero-box img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-box h1 {
  position: absolute;
  top: 80px;            /* distance from top of image */
  right: 235px;          /* distance from right side */
  background:transparent;  /* your grey rectangle */
  padding: 15px 25px;   /* size of grey box */
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xxx-large;
  margin: 0;
  z-index: 10;
}