@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Bitcount:wght@100..900&family=VT323&display=swap');
h1 {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xxx-large;
}
p1 {
  font-family: 'VT323', monospace;
  font-size: x-large;
  border-width: 10px;
  border: 1px;
  border-style: solid;
  font-size:12px;
}

img {
  width: 100%;
  height:50%;
  align-self: center;
  border: 10px transparent;
}
h3{
  font-family: 'VT323', monospace;
  font-size: large;
  color: black;
  padding: 250px;
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}
div1{
  width: 50%
  align-self: center;
  border: 10px transparent;

}
div2{
  width:50%
  align-self: center;
  border: 10px transparent;
}
div3{
  width: 10rem;
  height: 5rem;
  align-self: right;
  border: 5px transparent;
}
P1 {
  background-color: #ffffff; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}
P1 {
  background-color: #ffffff; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}
body {
  background-color: rgb(255, 255, 255);
  typesize: 18px;
    font-family: 'VT323', monospace;
}
div-1{
  width: 1000px;
  border: 2px solid black;
  text-align: right;
  margin: 0 auto
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div {
  background-color: rgb(146, 146, 146);
  width: 10px;
  height: 10px;
  border-radius: 0.5px;
  margin: 0.5px;
  aspect-ratio: 1 / 1;
}
article {
  width: 100%;
  height: 100%;
  border: 2px, transparent;
  align-self: center;
  margin: 0 auto
}              
a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  padding: 250px;
  text-align: left;
}
article img {
  width: 64px;
  height: 64px;
  border: 10px, transparent;
  align-self: center;
  margin: 0 auto
}
h2 {
  font-family: 'VT323', monospace;
  font-size: x-large;
  color: black;
  padding: 250px;
  text-align: left;
  margin: 0 auto;
  width: 1000px;

}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 0px;
}
.nav-links a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  text-decoration: none;
  padding: 0; 
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 7.5px;
  text-underline-offset: 7.5px;
  text-decoration-style: dashed;
}
header {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;   
  background-color: white;   
  padding: 10px 0;
  z-index: 1000;            
  border-bottom: 1px solid #ddd;
}
header .favicon {
  position: absolute;        /* locks it in the corner */
  top: 10px;
  left: 20px;
  width: 48px;
  height: 48px;
}
body {
  padding-top: 80px; /* adjust based on header height */
}

h4{
  font-family: 'VT323', monospace;
  font-size: medium;
  color: black;
  padding: 10px;
  text-align: right;
  margin: 0 auto;
  width: 1000px;
}
h6{
  font-family: 'VT323', monospace;
  font-size: large;
  color: black;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  width: 1000px;
}
h7{
  font-family: 'VT323', monospace;
  font-size: large;
  color: black;
  padding: 10px;
  text-align: right;
  margin: 0 auto;
  width: 1000px;
}







.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; 
  left: 0;
  background-color: #111111; 
  overflow-x: hidden; 
  padding-top: 20px;