@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&family=Bitcount:wght@100..900&family=VT323&display=swap');
h1 {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: xxx-large;
}
h2 {
  font-family: 'VT323', monospace;
  font-size: x-large;
  border-width: 10px;
  border: 0px;
  border-style: solid;
  font-size:12px;
}

img {
  width: 100%;
  height:50%;
  align-self: center;
  border: 10px transparent;

}
P1 {
  background-color: #ffffff; 
  padding: 2.5px;            
  border-radius: 0px;    
  text-align: right;  
  margin: 0 auto;
  width: 1000px;
}

div-1{
  width: 1500px;
  border: 2px solid black;
  text-align: Left;
  margin: 0 auto
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div {
  background-color: rgb(146, 146, 146);
  width: 10px;
  height: 10px;
  border-radius: 0.5px;
  margin: 0.5px;
  aspect-ratio: 1 / 1;
}
article {
  width: 64px;
  height: 64px;
  border: 0px, transparent;
  align-self: left;
  margin: 0 auto
}              
a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  padding: 250px;
  text-align: left;
}
div1{
  width: 250px;
  border: 0px solid black;
  text-align: Left;
  margin: 0 auto
}
nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 0px;
}
.nav-links a {
  font-family: 'VT323', monospace;
  font-size: xx-large;
  color: black;
  text-decoration: none;
  padding: 0; 
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 15px;
}
header {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: right;   
  background-color: white;   
  padding: 10px 0;
  z-index: 1000;            
  border-bottom: 1px solid #ddd;
}
header .favicon {
  position: absolute;        /* locks it in the corner */
  top: 10px;
  left: 20px;
  width: 48px;
  height: 48px;
}
body {
  padding-top: 80px; /* adjust based on header height */
}
